img {
  float: right;
  max-height: 500px;
  margin-right: 20px;
  margin-left: 15px;
  border: solid lightgray 1px;
  border-radius: 10px;
  padding: 3px;
}

q {
  font-size: 150%;
  font-style:italic;
}